<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <h2 class="media-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
        <br>

        <h3><div class='js-items-count'><%= pluralize(@user.items.count, 'task') %> left </div></h3>
        <br>

        <div class="new-item">
          <%= render partial: "items/form", locals: {user: @user, item: Item.new} %>
        </div>
      </div>
      <br>

        <div class="media js-items">
          <ul class="list-group">
            <% @user.items.each do |item| %>
            <%= render partial: 'items/item', locals: {user: @user, item: item} %>
            <% end %>
          </ul>
        </div>

    </div>
  </div>
</div>
