<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <div class="media-body">
        <h2 class="media-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
        <small>
          <%= pluralize(@user.items.count, 'task') %>
        </small>
        <%= render partial: "items/form", locals: {user: @user} %>
      </div>

        <div class="media">
          <%= render partial: 'items/item', locals: {user: @user}%>
        </div>

    </div>
  </div>
</div>
